


h1 {
  font-size: 40px;
  font-family: 'Bitter';
  color: #004CFD;
  font-weight: bold;
}

h1-negro {
  font-size: 30px;
  font-family: 'Bitter';
  color: #000000;
  font-weight: bold;
  text-align: center;
  display: block;
}

h1-blanco {
  font-size: 30px;
  font-family: 'Bitter';
  color: white;
  text-align: center;
}

h2 {
  font-size: 23px;
  line-height: 28px;
  font-family: 'Bitter';
  color: #004CFD;
}

h2-negro {
  font-size: 20px;
  line-height: 28px;
  font-family: 'Bitter';
  color: black;
}

h3 {
  font-size: 25px;
  line-height: 30px;
  font-family: 'Bitter';
  color: black;
}

h3-blanco {
  font-size: 20px;
  font-family: 'Bitter';
  color: white;
  font-style: oblique;
  text-align: center;
  padding-right: 30px;
}

h4 {
  font-size: 18px;
  font-family: 'Gudea';
  color: black;
  margin: 0px;
}

h5 {
  font-size: 18px;
  font-family: 'Gudea';
  color: #004CFD;
  margin: 0px;
}

p {
  color: black;
  font-size: 18px;
  font-family: 'Gudea';
}

p-blanco {
  font-size: 16px;
  font-family: 'Gudea';
  color: white;

}

p-negro {
  font-size: 16px;
  font-family: 'Gudea';
  font-weight: bold;
  color: black;
  text-align: center;

}

p-about {
  font-size: 16px;
  font-family: 'Gudea';
  color: black;
  text-align: left;

}


p-contacto {
  font-size: 16px;
  font-family: 'Gudea';
  color: black;
  text-align: center;
  margin: 0 auto;

}
