.linea-header-dos {
 height: 10px;
 color: #004CFD;
 width: 100%;
 background-color: #004CFD;
 margin-bottom: 0px;
 border: 0px;
}

.linea-header-una {
 height: 1px;
 border: 0px;
 width: 100%;
 color: white;
 margin-top: 0px;
 margin-bottom: 0px;

 }

.linea-small {
  border: 1px solid;
  width: 25px;
  color: black;
  text-align: left;
  display: inline-block;
 }

 .linea-masproyectos {
   border: 1px solid;
   color: black;
   width: 175px;
 }
