.taza {
}

.wave-yellow {
  margin-left: 45%;
  margin-right: 55%;
  padding-top: -30px;
}

.imageWrapper {
    float: left;
    position: relative;
    margin: 0 auto;
    margin-bottom: 80px;
}

#titulo-contacto {
  display: block;
  padding-top: 30px;
  margin-bottom: -10px;
  text-align: center;

}

#proyecto-mim {
  width: 70%;
  height: 330px;
  background-color: white;
  padding-top: 30px;
  padding-right: 60px;
  display: block;
  padding-bottom: 30px;
  margin: 0 auto;
}

#descripcion-contacto {
  text-align: center;
  margin: 20px auto;
  padding-top: 20px;
}

.text-mim {
  padding-top: 50px;
  a {
    text-decoration: none;
  }
}
